<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="active">Inicio</a></li>
            <li class="breadcrumb-item" [routerLink]="['/carros-grandes']" routerLinkActive="active">Carros Grandes</li>
        </ol>
    </nav>
</div>
<div class="container justify-content-arond">
    <div class="card" *ngFor="let carro of carros">
        <img [src]="carro.foto" alt="imagem Produto">
        <h4> {{carro.produto}} </h4>
    </div>
</div>