ul {
    list-style: none;
}
li{
    padding: 10px;
}
a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #f1cfcf;
}

h4{
    color: #fff;
}
h6{
    color: #fff;
    font-size: 12px;
    margin-top: 25px;
    margin-bottom: 0px ;
}
.menu{
    width: 20%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: #a80639;
}

.cont{
    display: inline-flex;
    flex-direction: row;
    background-color: #a80639;
    width: 100%;
}

.produtos{
    width: 80%;
    background-color: #fff;
}